{% extends "layout.html" %}

{% block content %}
    <main class="hero-section">
        <div class="container">
            <style>
            .quickbutton {
                background-color: #000000;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                cursor: pointer;
            }

            input[type=text]
            {
                width: 130px;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                background-color: white;
                background-image: url('searchicon.png');
                background-position: 10px 10px;
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }

            input[type=text]:focus
            {
                width: 100%;
            }


              .bottom-three
              {
                 margin-bottom: 3cm;
              }

            </style>


            <form>
                <div align="center">
                    <h2>Search User To Send Ca$h To</h2>
                    <h2>                           </h2>
                    <input type="text" name="search" placeholder="Search..">
                </div>
            </form>

            <p class="bottom-three"></p>

            <div class="container" align="center">
            <a href="{{ url_for('addfriend') }}" class="btn-primary">Add Friend +</a>
            </div>

        </div>
    </main>
{% endblock %}
