{% extends "layout.html" %}

{% block content %}
    <main class="hero-section">
        <div class="container">
            <style>
            .quickbutton {
                background-color: #000000;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                cursor: pointer;
            }

            input[type=text]
            {
                width: 130px;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                background-color: white;
                background-image: url('searchicon.png');
                background-position: 10px 10px;
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }

            input[type=text]:focus
            {
                width: 100%;
            }


              .bottom-three
              {
                 margin-bottom: 3cm;
              }
              .vertical-menu
                {
                    width: 400px; /* Set a width if you like */
                }

                .vertical-menu a
                {
                    background-color: #eee; /* Grey background color */
                    color: black; /* Black text color */
                    display: block; /* Make the links appear below each other */
                    padding: 12px; /* Add some padding */
                    text-decoration: none; /* Remove underline from links */
                }

                .vertical-menu a:hover
                {
                    background-color: #ccc; /* Dark grey background on mouse-over */
                }

                .vertical-menu a.active
                {
                    background-color: #2fcaff; /* Add a green color to the "active/current" link */
                    color: white;
                }
                #submit
                {
                  background: #4285f4;
                  border: 1px solid #1266f1;
                  color: #ffffff;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 13px;
                  font-weight: 600;
                  letter-spacing: 0.23px;
                  padding: 12px 32px;
                  text-align: center;
                  text-decoration: none;
                     width: 150px;
                  text-transform: uppercase;
                }

            </style>


            <form>
                <div align="center">
                    <h2>Select Friend To Send Ca$h To</h2>
                    <h2>                           </h2>
                </div>
            </form>

            <!--<p class="bottom-three"></p>-->

     <form method="POST" action="payment">
                <div class="form-group" align="center">
                     <select  name="friendToPay" class="vertical-menu">
                        {% for friend in strFriendList %}
                            <option value="{{ friend }}">{{ friend }}</option>
                        {% endfor %}
                    </select>
                          <h2>                           </h2>

                            <input type="submit" value="Submit" id="submit" name="submit"/>


                    <p class="bottom-three"></p>

                     <a href="{{ url_for('addfriend') }}"  class="btn-primary">Add Friend +</a>
                </div>
     </form>
        </div>
    </main>
{% endblock %}
